
.container {
    position: relative;
}

.title {
    font-size: 16px;
    cursor: pointer;
    display: block;
}

.container:hover{
    .list {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
}

.list {
    position: absolute;
    display: none;
}