.title {
    font-size: var(--font-size--middle);
    line-height: 25px;
    margin-bottom: 30px;
}

.btns {
    width: 100px;
    margin-left: auto;
}

.btn {
    padding: 5px 10px;
    background-color: var(--white-color);
    border-bottom: 2px solid var(--main-color);
    font-size: var(--font-size--main);
    color: var(--main-color);
}

.btn:not(:last-child) {
    margin-right: 15px;
}